html,body{
  box-sizing: border-box;
	height: 100%;   
	overflow-x:hidden;
	font-family: 'Noto Sans KR', sans-serif;
}

hr{
	border-top: 1.5px solid rgba(0,0,0,.1);
}

a { 
	color: #000000;
	text-decoration: none;
}

.container {
	width: 1080px;
	margin: 0 auto;
}

/* Navigation */
#menu {
	/* position: fixed; */
	display: block;
	padding: 15px;
	width: 100%;
	transition: all 0.8s;
	z-index: 10;
}
/* .navbar-header {
	display: none;
} */
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(0,0,0,0.15)
}
#menu a.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

#menu .navbar-brand ul li{
  display: inline;
}

#menu .navbar-brand ul li a{
  display: inline;
}

.navbar-nav {
  flex-direction: unset;
}

#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #555;
	font-size: 15px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
  margin: 9px 20px 0 20px;
}

/* hedaer */

.header {
	/* height: 577px; */
	padding: 50px 0 50px;
	/* background-color: rgba(0,0,0,0.2); */
}

.intro img{
	width: 600px;
	height: 550px;
}

.header .intro-text {
	margin-right: 20px;
	padding: 75px 0;
	text-align: center;
}

.intro-text h1 {
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-size: 82px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
}
.intro-text p {
	color: #aaa;
	font-size: 22px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 auto;
	/* margin-top: 30px; */
	margin: 30px 0 50px 0;
}

/* button */
.btn-custom {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-image: none;
	background-color: #6372ff;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* main_page company */

.now{
	padding: 20px 0;
  background-color: #f7fafc;
}

.page-header {
	margin: 50px 0;
}

.random{
	margin: 30px 0px 20px 0;
	margin-left: 15px;
	overflow: hidden;
}

.random-text strong{
	font-size: 28px;
}

.picture-list{
		/* display: inline-block; */
		float: left;
		width: 499px;
		height: 180px;
		margin-bottom: 24px;
    margin-right: 24px;
    padding: 40px 20px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16);
		border-radius: 4px;
		/* vertical-align: middle; */
}

.picture-list a{
	width: 100%;
}

.pictures {
		display: flex;
		align-items: center;
		height: 100%;
}

.pictures img{
	/* width: 100px;
	height: 100px;
	border-radius: 10px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover; */
	width: auto;
	max-width: 4.5rem;
	height: auto;
	max-height: 5rem;
	border-radius: 0.25rem;
}

.picture-list a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.picture-list .caption {
	display: inline-block;
	margin-left: 40px;
	width: 70%;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.picture-list .caption h4{
	margin-top: 10px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: 600;
	
}

.picture-list .caption p {
	font-size: 14px;
	font-weight: 500;
	color: #444;
}

.picture-list .caption span {
	font-size: 10.5px;
}

.techtreedata {
	margin-bottom: 50px;
	color: rgb(37, 54, 141);
}


/* recommend */

.position-list {
	margin-top: 50px;
}

.reco-title h3 {
	margin-top: 70px;
	font-size: 36px;
	font-weight: 800;
}

.reco-desc p{
	margin-top: 10px;
	font-size: 20px;
}

.reco-tag {
	margin: 55px 0 25px 0;
}

.position .picture-list {
	padding: 0 20px;
}

.caption .career {
	font-size: 12px;
	color: #555;
}

/* wanted */

.search {
	margin-left: 50px;
}

/* Tech Tree */

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.found {
	fill: #ff4136;
	stroke: #ff4136;
}
.node text {
	font: 20px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 4px;
}
/*Just to ensure the select2 box is "glued" to the top*/
.search {
	width: 50%;
}

.page-nav {
	margin-top: 40px;
}

.tree_btn {
	margin: 60px 20px;
}

#tree-right {
	position: absolute;
	top: 30%;
	left: 68%;
}

/* #right-text {
	font-size: 28px;
	margin-bottom: 30px;
} */

.category-list {
	font-size: 26px;
	margin-bottom: 10px;
	/* list-style: none; */
}

#category-list span {
	font-size: 20px;
	font-weight: 600;
	color: #555;
}

/* #choice h2 {
	font-size: 28px;
	margin-bottom: 30px;
} */

.right-info {
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
/* identical to box height, or 133% */
	text-align: center;
	letter-spacing: -0.01em;
	color: #2B292D;
	margin-bottom: 34px;
}

li.right-info {
	margin-bottom: 25px;
}

.right-title {
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 72px;
	/* identical to box height, or 200% */
	text-align: center;	
	letter-spacing: 0.045em;
	color: #2B292D;
}

/* require */

.company_position .position h3{
	font-weight: 700;
	margin-top: 70px;
	margin-bottom: 15px;
}

.company_position .company h6{
	font-size: 18px;
	color: #777;
}


.recruit .tech_stack{
	margin-top: 30px;
}

.recruit .position {
	margin-top: 50px;
}

.recruit .requirement {
	margin-top: 50px;
}

.recruit .preference {
	margin-top: 50px;
}

.right_section {
	margin-top: 163px;
}

.search {
	margin-left: 250px;
}

#custom-search-input{
	padding: 1px;
	border: solid 1px #E4E4E4;
	border-radius: 8px;
	background-color: #fff;
}

#custom-search-input input{
	border: 0;
	box-shadow: none;
}

#custom-search-input button{
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
}

#map {
	/* position: absolute; */
	/* position: relative; */
	/* bottom: 80px; */
	width: 300px;
	height: 300px;
	/* justify-content: center; */
}

.mapName {
	margin: 5px 30px 0 30px;
	font-size: 14px;
	font-weight: 500;
	/* position: absolute; */
	/* bottom: 30px; */
}

.bookmark {
	margin-left: 550px;
}




/* This for loop creates the necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
@for $i from 1 through $howManySteps {
	$stepName: ($i*(100 / $howManySteps));

	/* //animation only the left side if below 50% */
	@if $i <= ($howManySteps/2) { 
		.progress[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				 animation: loading-#{$i} $animationTime linear forwards;
			}
			.progress-left .progress-bar {animation: 0;}
		}
	}
	/* //animation only the right side if above 50% */
	@if $i > ($howManySteps/2)  {  
		.progress[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
			}
			.progress-left .progress-bar {
      animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
    }
		}
	}
}

/* //animation */
@for $i from 1 through ($howManySteps/2) { 
	$degrees: (180/($howManySteps/2));
	$degrees: ($degrees*$i);
	@keyframes loading-#{$i}{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate($degrees);
			transform: rotate(#{$degrees}deg);
    }
	}
}

/* login, signup form */
body.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.login-page .card-wrapper{
  width: 400px;
}

.login-page .card{
  border-color: transparent;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.login-page .card.fat{
  padding: 10px;
}

.login-page .card .card-title{
  margin-bottom: 30px;
  font-weight: 600;

}

.login-page .card .card-title{
  margin-bottom: 30px;
}

.login-page .form-control{
  border-width: 2.3px;
}

.login-page .form-group label{
  width: 100%;
}

.login-page a.agree{
  margin-left: 10px;
}

.login-page .btn.btn-block{
  padding: 12px 10px;
}

.login-page .sign-up{
  display: inline-block;
  margin-right: 10px;
}

.login-page .footer{
  margin: 40px 0;
  color: #999;
  text-align: center;
}

/* header */
/* nav */
.profile-userpic img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -webkit-border-radius: 50%!important;
  -moz-border-radius: 50%!important;
  border-radius: 50%!important;
}

.profile-usertitle-name{
  margin-top: 20px;
}

.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
margin-top: 0.97rem;
}

/*Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}

.footer-dark {
  padding: 40px 0;
  color:#222;
  background-color:#f7fafc;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:13px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
	font-size: 12px;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#333;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


/* responsive */
@media screen and (max-width: 425px){
.login-page .card-wrapper{
  width: 90%;
  margin: 0 auto;
}
}

@media screen and (max-width: 320px){
.login-page .card.fat{
  padding: 0;
}

.login-page .card.fat .card-body{
  padding: 15px;
}
}

@media (min-width: 992px) {
.gedf-main {
  padding-left: 4rem;
  padding-right: 4rem;
}
.gedf-card {
  margin-bottom: 2.77rem;
}
}

/* profile */
.main-body {
	padding: 15px;
	margin-top: 80px;
	margin-bottom: 70px;
}
.card {
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1rem;
}

.gutters-sm {
	margin-right: -8px;
	margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
	padding-right: 8px;
	padding-left: 8px;
}
.mb-3, .my-3 {
	margin-bottom: 1rem!important;
}

.bg-gray-300 {
	background-color: #e2e8f0;
}
.h-100 {
	height: 100%!important;
}
.shadow-none {
	box-shadow: none!important;
}

.link {
	font-size: 14px;
}

.like {
	height: 145px;
	float: left;
	/* width: 499px; */
	/* height: 180px; */
	/* margin-bottom: 24px; */
	margin-right: 24px;
	padding: 40px 20px;
	/* box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16); */
	border-radius: 4px;
}

.like img{
	/* width: 100px;
	height: 100px;
	border-radius: 10px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover; */
	width: auto;
	max-width: 4.5rem;
	height: auto;
	max-height: 5rem;
	border-radius: 0.25rem;
}

.like .caption {
	display: inline-block;
	margin-left: 10px;
	width: 80%;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.like .caption h4 {
	margin-top: 10px;
	margin-right: 10px;
	font-size: 13px;
	font-weight: 600;
}

.like .caption p {
	font-size: 12px;
	font-weight: 500;
	color: #444;
}

.like a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}